In [2]:
import pandas as pd

denominators_df = pd.read_csv('data/county_denominators.csv')
proprietary_df = pd.read_csv('data/county_proprietary_valid_2000_2018.csv')

In [3]:
denominators_df.head(50)

   state   county  cofips   race     sex       renters      variance
0     AL  AUTAUGA    1001  asian  female     32.786885    328.457836
1     AL  AUTAUGA    1001  asian    male     83.497268   2073.761231
2     AL  AUTAUGA    1001  black  female   1607.878606  26103.393639
3     AL  AUTAUGA    1001  black    male   1126.147074  12897.751771
4     AL  AUTAUGA    1001   hisp  female     78.823748   1182.507021
5     AL  AUTAUGA    1001   hisp    male    118.595547   2666.095325
6     AL  AUTAUGA    1001  other  female     72.566586   2184.736104
7     AL  AUTAUGA    1001  other    male     43.583535    791.873715
8     AL  AUTAUGA    1001  white  female   3481.352101  54538.104951
9     AL  AUTAUGA    1001  white    male   2718.371808  33472.864193
10    AL  BALDWIN    1003  asian  female     33.000000     32.972886
11    AL  BALDWIN    1003  asian    male     35.000000     34.969500
12    AL  BALDWIN    1003  black  female   3246.000000   2983.662683
13    AL  BALDWIN    1003  black    male   2480.000000   2326.867842
14    AL  BALDWIN    1003   hisp  female   1045.000000   1017.810851
15    AL  BALDWIN    1003   hisp    male   1276.000000   1235.461807
16    AL  BALDWIN    1003  other  female    214.000000    212.859775
17    AL  BALDWIN    1003  other    male    486.000000    480.119211
18    AL  BALDWIN    1003  white  female  17100.000000   9819.599641
19    AL  BALDWIN    1003  white    male  14249.000000   9193.875983
20    AL  BARBOUR    1005  asian  female     19.738318    998.309906
21    AL  BARBOUR    1005  asian    male      9.700935    241.418293
22    AL  BARBOUR    1005  black  female   1968.637120  13912.088726
23    AL  BARBOUR    1005  black    male   1510.877666   8254.052952
24    AL  BARBOUR    1005   hisp  female    151.475410   1432.721641
25    AL  BARBOUR    1005   hisp    male    201.005464   2507.057855
26    AL  BARBOUR    1005  other  female    113.239437    545.961264
27    AL  BARBOUR    1005  other    male    128.112676    693.108452
28    AL  BARBOUR    1005  white  female    859.755711   5728.203570
29    AL  BARBOUR    1005  white    male    865.527532   5804.658772
30    AL     BIBB    1007  asian  female      0.000000   1969.632653
31    AL     BIBB    1007  asian    male      0.000000      0.000000
32    AL     BIBB    1007  black  female    503.097004   6700.496383
33    AL     BIBB    1007  black    male    350.832402   3263.053475
34    AL     BIBB    1007   hisp  female     69.545455    275.981751
35    AL     BIBB    1007   hisp    male     60.272727    209.954353
36    AL     BIBB    1007  other  female      2.359712     56.839507
37    AL     BIBB    1007  other    male      7.769784    615.215095
38    AL     BIBB    1007  white  female   1451.810660  19841.330324
39    AL     BIBB    1007  white    male   1120.918528  11915.263552
40    AL   BLOUNT    1009  asian  female      1.294872   2199.022383
41    AL   BLOUNT    1009  asian    male      1.076923   1521.059272
42    AL   BLOUNT    1009  black  female     96.555556   1467.998813
43    AL   BLOUNT    1009  black    male     90.755952   1297.799009
44    AL   BLOUNT    1009   hisp  female    420.906200   2095.151850
45    AL   BLOUNT    1009   hisp    male    379.769475   1727.758702
46    AL   BLOUNT    1009  other  female     61.883375    378.641683
47    AL   BLOUNT    1009  other    male     74.032258    536.386250
48    AL   BLOUNT    1009  white  female   3543.475812  29668.534153
49    AL   BLOUNT    1009  white    male   3172.919137  23934.394842

In [4]:
proprietary_df.head(10)

,cofips,county,state,year,type,filings,filing_rate,threatened,threatened_rate,judgements,judgement_rate
0,1001,Autauga County,Alabama,2001,observed,84,2.73,83,2.70,NaN,NaN
1,1001,Autauga County,Alabama,2002,observed,100,3.25,97,3.16,NaN,NaN
2,1001,Autauga County,Alabama,2003,observed,102,3.32,90,2.93,NaN,NaN
3,1001,Autauga County,Alabama,2008,observed,130,3.17,126,3.07,NaN,NaN
4,1001,Autauga County,Alabama,2009,observed,108,2.63,104,2.53,NaN,NaN
5,1001,Autauga County,Alabama,2010,observed,103,2.07,98,1.97,NaN,NaN
6,1001,Autauga County,Alabama,2011,observed,118,2.22,111,2.09,NaN,NaN
7,1001,Autauga County,Alabama,2012,observed,169,3.18,155,2.91,NaN,NaN
8,1001,Autauga County,Alabama,2013,observed,173,3.25,157,2.95,NaN,NaN
9,1001,Autauga County,Alabama,2014,observed,145,2.73,134,2.52,NaN,NaN

In [5]:
rows = len(proprietary_df)
print(rows)

21232

Dataset Idea (for now):
- analyze each dataset separately and figure out clusters amongst the features themselves
- then use the merged dataset and possibly analyze a few counties to see how sex and race is applied
    - the issue with doing the whole merged dataset is that there can be some overlapped information

before I forget, i could generalize the denominators to like a bigger sex or race and then add that to the proprietary dataset

In [6]:
denominators_info = denominators_df.head(), denominators_df.columns.tolist()
proprietary_info = proprietary_df.head(), proprietary_df.columns.tolist()

In [7]:
denominators_info, proprietary_info

((  state   county  cofips   race     sex      renters      variance
  0    AL  AUTAUGA    1001  asian  female    32.786885    328.457836
  1    AL  AUTAUGA    1001  asian    male    83.497268   2073.761231
  2    AL  AUTAUGA    1001  black  female  1607.878606  26103.393639
  3    AL  AUTAUGA    1001  black    male  1126.147074  12897.751771
  4    AL  AUTAUGA    1001   hisp  female    78.823748   1182.507021,
  ['state', 'county', 'cofips', 'race', 'sex', 'renters', 'variance']),
 (   cofips          county    state  year      type  filings  filing_rate  \
  0    1001  Autauga County  Alabama  2001  observed       84         2.73
  1    1001  Autauga County  Alabama  2002  observed      100         3.25
  2    1001  Autauga County  Alabama  2003  observed      102         3.32
  3    1001  Autauga County  Alabama  2008  observed      130         3.17
  4    1001  Autauga County  Alabama  2009  observed      108         2.63

     threatened  threatened_rate  judgements  judgement_rate
  0          83             2.70         NaN             NaN
  1          97             3.16         NaN             NaN
  2          90             2.93         NaN             NaN
  3         126             3.07         NaN             NaN
  4         104             2.53         NaN             NaN  ,
  ['cofips',
   'county',
   'state',
   'year',
   'type',
   'filings',
   'filing_rate',
   'threatened',
   'threatened_rate',
   'judgements',
   'judgement_rate']))

In [8]:
# merging based on cofips
merged_df = pd.merge(proprietary_df, denominators_df, on='cofips', how='left')

In [9]:
merged_df.head(50)

,cofips,county_x,state_x,year,type,filings,filing_rate,threatened,threatened_rate,judgements,judgement_rate,state_y,county_y,race,sex,renters,variance
0,1001,Autauga County,Alabama,2001,observed,84,2.73,83,2.70,NaN,NaN,AL,AUTAUGA,asian,female,32.786885,328.457836
1,1001,Autauga County,Alabama,2001,observed,84,2.73,83,2.70,NaN,NaN,AL,AUTAUGA,asian,male,83.497268,2073.761231
2,1001,Autauga County,Alabama,2001,observed,84,2.73,83,2.70,NaN,NaN,AL,AUTAUGA,black,female,1607.878606,26103.393639
3,1001,Autauga County,Alabama,2001,observed,84,2.73,83,2.70,NaN,NaN,AL,AUTAUGA,black,male,1126.147074,12897.751771
4,1001,Autauga County,Alabama,2001,observed,84,2.73,83,2.70,NaN,NaN,AL,AUTAUGA,hisp,female,78.823748,1182.507021
5,1001,Autauga County,Alabama,2001,observed,84,2.73,83,2.70,NaN,NaN,AL,AUTAUGA,hisp,male,118.595547,2666.095325
6,1001,Autauga County,Alabama,2001,observed,84,2.73,83,2.70,NaN,NaN,AL,AUTAUGA,other,female,72.566586,2184.736104
7,1001,Autauga County,Alabama,2001,observed,84,2.73,83,2.70,NaN,NaN,AL,AUTAUGA,other,male,43.583535,791.873715
8,1001,Autauga County,Alabama,2001,observed,84,2.73,83,2.70,NaN,NaN,AL,AUTAUGA,white,female,3481.352101,54538.104951
9,1001,Autauga County,Alabama,2001,observed,84,2.73,83,2.70,NaN,NaN,AL,AUTAUGA,white,male,2718.371808,33472.864193
10,1001,Autauga County,Alabama,2002,observed,100,3.25,97,3.16,NaN,NaN,AL,AUTAUGA,asian,female,32.786885,328.457836
11,1001,Autauga County,Alabama,2002,observed,100,3.25,97,3.16,NaN,NaN,AL,AUTAUGA,asian,male,83.497268,2073.761231
12,1001,Autauga County,Alabama,2002,observed,100,3.25,97,3.16,NaN,NaN,AL,AUTAUGA,black,female,1607.878606,26103.393639
13,1001,Autauga County,Alabama,2002,observed,100,3.25,97,3.16,NaN,NaN,AL,AUTAUGA,black,male,1126.147074,12897.751771
14,1001,Autauga County,Alabama,2002,observed,100,3.25,97,3.16,NaN,NaN,AL,AUTAUGA,hisp,female,78.823748,1182.507021
15,1001,Autauga County,Alabama,2002,observed,100,3.25,97,3.16,NaN,NaN,AL,AUTAUGA,hisp,male,118.595547,2666.095325
16,1001,Autauga County,Alabama,2002,observed,100,3.25,97,3.16,NaN,NaN,AL,AUTAUGA,other,female,72.566586,2184.736104
17,1001,Autauga County,Alabama,2002,observed,100,3.25,97,3.16,NaN,NaN,AL,AUTAUGA,other,male,43.583535,791.873715
18,1001,Autauga County,Alabama,2002,observed,100,3.25,97,3.16,NaN,NaN,AL,AUTAUGA,white,female,3481.352101,54538.104951
19,1001,Autauga County,Alabama,2002,observed,100,3.25,97,3.16,NaN,NaN,AL,AUTAUGA,white,male,2718.371808,33472.864193
20,1001,Autauga County,Alabama,2003,observed,102,3.32,90,2.93,NaN,NaN,AL,AUTAUGA,asian,female,32.786885,328.457836
21,1001,Autauga County,Alabama,2003,observed,102,3.32,90,2.93,NaN,NaN,AL,AUTAUGA,asian,male,83.497268,2073.761231
22,1001,Autauga County,Alabama,2003,observed,102,3.32,90,2.93,NaN,NaN,AL,AUTAUGA,black,female,1607.878606,26103.393639
23,1001,Autauga County,Alabama,2003,observed,102,3.32,90,2.93,NaN,NaN,AL,AUTAUGA,black,male,1126.147074,12897.751771
24,1001,Autauga County,Alabama,2003,observed,102,3.32,90,2.93,NaN,NaN,AL,AUTAUGA,hisp,female,78.823748,1182.507021
25,1001,Autauga County,Alabama,2003,observed,102,3.32,90,2.93,NaN,NaN,AL,AUTAUGA,hisp,male,118.595547,2666.095325
26,1001,Autauga County,Alabama,2003,observed,102,3.32,90,2.93,NaN,NaN,AL,AUTAUGA,other,female,72.566586,2184.736104
27,1001,Autauga County,Alabama,2003,observed,102,3.32,90,2.93,NaN,NaN,AL,AUTAUGA,other,male,43.583535,791.873715
28,1001,Autauga County,Alabama,2003,observed,102,3.32,90,2.93,NaN,NaN,AL,AUTAUGA,white,female,3481.352101,54538.104951
29,1001,Autauga County,Alabama,2003,observed,102,3.32,90,2.93,NaN,NaN,AL,AUTAUGA,white,male,2718.371808,33472.864193
30,1001,Autauga County,Alabama,2008,observed,130,3.17,126,3.07,NaN,NaN,AL,AUTAUGA,asian,female,32.786885,328.457836
31,1001,Autauga County,Alabama,2008,observed,130,3.17,126,3.07,NaN,NaN,AL,AUTAUGA,asian,male,83.497268,2073.761231
32,1001,Autauga County,Alabama,2008,observed,130,3.17,126,3.07,NaN,NaN,AL,AUTAUGA,black,female,1607.878606,26103.393639
33,1001,Autauga County,Alabama,2008,observed,130,3.17,126,3.07,NaN,NaN,AL,AUTAUGA,black,male,1126.147074,12897.751771
34,1001,Autauga County,Alabama,2008,observed,130,3.17,126,3.07,NaN,NaN,AL,AUTAUGA,hisp,female,78.823748,1182.507021
35,1001,Autauga County,Alabama,2008,observed,130,3.17,126,3.07,NaN,NaN,AL,AUTAUGA,hisp,male,118.595547,2666.095325
36,1001,Autauga County,Alabama,2008,observed,130,3.17,126,3.07,NaN,NaN,AL,AUTAUGA,other,female,72.566586,2184.736104
37,1001,Autauga County,Alabama,2008,observed,130,3.17,126,3.07,NaN,NaN,AL,AUTAUGA,other,male,43.583535,791.873715
38,1001,Autauga County,Alabama,2008,observed,130,3.17,126,3.07,NaN,NaN,AL,AUTAUGA,white,female,3481.352101,54538.104951
39,1001,Autauga County,Alabama,2008,observed,130,3.17,126,3.07,NaN,NaN,AL,AUTAUGA,white,male,2718.371808,33472.864193
40,1001,Autauga County,Alabama,2009,observed,108,2.63,104,2.53,NaN,NaN,AL,AUTAUGA,asian,female,32.786885,328.457836
41,1001,Autauga County,Alabama,2009,observed,108,2.63,104,2.53,NaN,NaN,AL,AUTAUGA,asian,male,83.497268,2073.761231
42,1001,Autauga County,Alabama,2009,observed,108,2.63,104,2.53,NaN,NaN,AL,AUTAUGA,black,female,1607.878606,26103.393639
43,1001,Autauga County,Alabama,2009,observed,108,2.63,104,2.53,NaN,NaN,AL,AUTAUGA,black,male,1126.147074,12897.751771
44,1001,Autauga County,Alabama,2009,observed,108,2.63,104,2.53,NaN,NaN,AL,AUTAUGA,hisp,female,78.823748,1182.507021
45,1001,Autauga County,Alabama,2009,observed,108,2.63,104,2.53,NaN,NaN,AL,AUTAUGA,hisp,male,118.595547,2666.095325
46,1001,Autauga County,Alabama,2009,observed,108,2.63,104,2.53,NaN,NaN,AL,AUTAUGA,other,female,72.566586,2184.736104
47,1001,Autauga County,Alabama,2009,observed,108,2.63,104,2.53,NaN,NaN,AL,AUTAUGA,other,male,43.583535,791.873715
48,1001,Autauga County,Alabama,2009,observed,108,2.63,104,2.53,NaN,NaN,AL,AUTAUGA,white,female,3481.352101,54538.104951
49,1001,Autauga County,Alabama,2009,observed,108,2.63,104,2.53,NaN,NaN,AL,AUTAUGA,white,male,2718.371808,33472.864193

In [10]:
merged_df.to_csv('merged_df.csv')

In [11]:
# looking at structure 
merged_info = merged_df.head(), merged_df.columns.tolist()
merged_info

(   cofips        county_x  state_x  year      type  filings  filing_rate  \
 0    1001  Autauga County  Alabama  2001  observed       84         2.73
 1    1001  Autauga County  Alabama  2001  observed       84         2.73
 2    1001  Autauga County  Alabama  2001  observed       84         2.73
 3    1001  Autauga County  Alabama  2001  observed       84         2.73
 4    1001  Autauga County  Alabama  2001  observed       84         2.73

    threatened  threatened_rate  judgements  judgement_rate state_y county_y  \
 0          83              2.7         NaN             NaN      AL  AUTAUGA
 1          83              2.7         NaN             NaN      AL  AUTAUGA
 2          83              2.7         NaN             NaN      AL  AUTAUGA
 3          83              2.7         NaN             NaN      AL  AUTAUGA
 4          83              2.7         NaN             NaN      AL  AUTAUGA

     race     sex      renters      variance
 0  asian  female    32.786885    328.457836
 1  asian    male    83.497268   2073.761231
 2  black  female  1607.878606  26103.393639
 3  black    male  1126.147074  12897.751771
 4   hisp  female    78.823748   1182.507021  ,
 ['cofips',
  'county_x',
  'state_x',
  'year',
  'type',
  'filings',
  'filing_rate',
  'threatened',
  'threatened_rate',
  'judgements',
  'judgement_rate',
  'state_y',
  'county_y',
  'race',
  'sex',
  'renters',
  'variance'])

In [12]:
merged_df = merged_df.drop(columns=['state_y', 'county_y'])

numeric_cols = ['filings', 'filing_rate', 'threatened', 'threatened_rate', 
                'judgements', 'judgement_rate', 'renters', 'variance']
aggregated_df = merged_df.groupby(['cofips', 'year'])[numeric_cols].mean().reset_index()

aggregated_info = aggregated_df.head(), aggregated_df.columns.tolist()
aggregated_info

(   cofips  year  filings  filing_rate  threatened  threatened_rate  \
 0    1001  2001     84.0         2.73        83.0             2.70
 1    1001  2002    100.0         3.25        97.0             3.16
 2    1001  2003    102.0         3.32        90.0             2.93
 3    1001  2008    130.0         3.17       126.0             3.07
 4    1001  2009    108.0         2.63       104.0             2.53

    judgements  judgement_rate     renters      variance
 0         NaN             NaN  936.360316  13623.954578
 1         NaN             NaN  936.360316  13623.954578
 2         NaN             NaN  936.360316  13623.954578
 3         NaN             NaN  936.360316  13623.954578
 4         NaN             NaN  936.360316  13623.954578  ,
 ['cofips',
  'year',
  'filings',
  'filing_rate',
  'threatened',
  'threatened_rate',
  'judgements',
  'judgement_rate',
  'renters',
  'variance'])

In [13]:
merged_rows = len(merged_df)
print(merged_rows)

212276

Here cleaning and using proprietary dataset:
- for now thinking to only use this dataset for KNN and feature engineering

In [14]:
proprietary_df.tail(10)

,cofips,county,state,year,type,filings,filing_rate,threatened,threatened_rate,judgements,judgement_rate
21222,56043,Washakie County,Wyoming,2017,observed,2,0.25,2,0.25,2.0,0.25
21223,56043,Washakie County,Wyoming,2018,observed,6,0.76,6,0.76,6.0,0.76
21224,56045,Weston County,Wyoming,2003,observed,3,0.52,3,0.52,3.0,0.52
21225,56045,Weston County,Wyoming,2004,observed,7,1.21,7,1.21,7.0,1.21
21226,56045,Weston County,Wyoming,2005,observed,4,0.58,4,0.58,4.0,0.58
21227,56045,Weston County,Wyoming,2006,observed,7,1.02,7,1.02,7.0,1.02
21228,56045,Weston County,Wyoming,2007,observed,5,0.73,5,0.73,5.0,0.73
21229,56045,Weston County,Wyoming,2008,observed,2,0.29,2,0.29,2.0,0.29
21230,56045,Weston County,Wyoming,2009,observed,1,0.15,1,0.15,1.0,0.15
21231,56045,Weston County,Wyoming,2018,observed,1,0.20,1,0.20,1.0,0.20

In [15]:
missing_values = proprietary_df.isnull().sum()
missing_values

cofips                0
county                0
state                 0
year                  0
type                  0
filings               0
filing_rate           0
threatened            0
threatened_rate       0
judgements         9496
judgement_rate     9496
dtype: int64

There are no duplicate rows:

In [16]:
duplicates = proprietary_df.duplicated().sum()
duplicates

np.int64(0)

In [17]:
proprietary_df_cleaned = proprietary_df
proprietary_df_cleaned['judgements'].fillna(0, inplace=True)
proprietary_df_cleaned['judgement_rate'].fillna(0, inplace=True)

/var/folders/40/fm8rs8fx1vd7lsm9bpc223040000gn/T/ipykernel_79720/7841391.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  proprietary_df_cleaned['judgements'].fillna(0, inplace=True)
/var/folders/40/fm8rs8fx1vd7lsm9bpc223040000gn/T/ipykernel_79720/7841391.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  proprietary_df_cleaned['judgement_rate'].fillna(0, inplace=True)

In [18]:
check_missing_values = proprietary_df_cleaned.isnull().sum()
check_missing_values

cofips             0
county             0
state              0
year               0
type               0
filings            0
filing_rate        0
threatened         0
threatened_rate    0
judgements         0
judgement_rate     0
dtype: int64

In [19]:
data_types = proprietary_df_cleaned.dtypes
data_types

cofips               int64
county              object
state               object
year                 int64
type                object
filings              int64
filing_rate        float64
threatened           int64
threatened_rate    float64
judgements         float64
judgement_rate     float64
dtype: object

In [20]:
proprietary_df_cleaned.tail(10)

,cofips,county,state,year,type,filings,filing_rate,threatened,threatened_rate,judgements,judgement_rate
21222,56043,Washakie County,Wyoming,2017,observed,2,0.25,2,0.25,2.0,0.25
21223,56043,Washakie County,Wyoming,2018,observed,6,0.76,6,0.76,6.0,0.76
21224,56045,Weston County,Wyoming,2003,observed,3,0.52,3,0.52,3.0,0.52
21225,56045,Weston County,Wyoming,2004,observed,7,1.21,7,1.21,7.0,1.21
21226,56045,Weston County,Wyoming,2005,observed,4,0.58,4,0.58,4.0,0.58
21227,56045,Weston County,Wyoming,2006,observed,7,1.02,7,1.02,7.0,1.02
21228,56045,Weston County,Wyoming,2007,observed,5,0.73,5,0.73,5.0,0.73
21229,56045,Weston County,Wyoming,2008,observed,2,0.29,2,0.29,2.0,0.29
21230,56045,Weston County,Wyoming,2009,observed,1,0.15,1,0.15,1.0,0.15
21231,56045,Weston County,Wyoming,2018,observed,1,0.20,1,0.20,1.0,0.20

it is good to see here that the number of missing judgements and number of judgement rates are the same
- going ahead with labeling NaN judgements as 0 since essentially a judgement was not done which results the rate not existing as well

In [21]:
# This code snippet focuses on data exploration by examining unique values, missing data, duplicates, and data types within a dataset. 

unique_values = {col: proprietary_df_cleaned[col].unique() for col in proprietary_df_cleaned.columns if proprietary_df_cleaned[col].nunique() < 20}
missing_values, duplicates, data_types, unique_values

(cofips                0
 county                0
 state                 0
 year                  0
 type                  0
 filings               0
 filing_rate           0
 threatened            0
 threatened_rate       0
 judgements         9496
 judgement_rate     9496
 dtype: int64,
 np.int64(0),
 cofips               int64
 county              object
 state               object
 year                 int64
 type                object
 filings              int64
 filing_rate        float64
 threatened           int64
 threatened_rate    float64
 judgements         float64
 judgement_rate     float64
 dtype: object,
 {'year': array([2001, 2002, 2003, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
         2005, 2006, 2007, 2016, 2000, 2004, 2017, 2018]),
  'type': array(['observed'], dtype=object)})

In [ ]:
merged_df.to_csv('merged_df.csv')

Cleaning the denominator dataset:
- processing and eventually going to combine with proprietary dataset to make the merged

In [28]:
denominators_df

      state   county  cofips   race     sex      renters      variance
0        AL  AUTAUGA    1001  asian  female    32.786885    328.457836
1        AL  AUTAUGA    1001  asian    male    83.497268   2073.761231
2        AL  AUTAUGA    1001  black  female  1607.878606  26103.393639
3        AL  AUTAUGA    1001  black    male  1126.147074  12897.751771
4        AL  AUTAUGA    1001   hisp  female    78.823748   1182.507021
...     ...      ...     ...    ...     ...          ...           ...
31408    WY   WESTON   56045   hisp    male    36.245633    922.688115
31409    WY   WESTON   56045  other  female     9.171076    161.545875
31410    WY   WESTON   56045  other    male    16.649030    531.915179
31411    WY   WESTON   56045  white  female   538.849687   4645.324795
31412    WY   WESTON   56045  white    male   564.307708   5092.751393

[31413 rows x 7 columns]

In [23]:
missing_values_den = denominators_df.isnull().sum()
missing_values_den

state       0
county      0
cofips      0
race        1
sex         1
renters     0
variance    0
dtype: int64

In [25]:
rows_with_missing_values = denominators_df[denominators_df.isnull().any(axis=1)]
rows_with_missing_values

      state  county  cofips race  sex  renters  variance
18602    NY  ONEIDA   36065  NaN  NaN      0.0       0.0

In [30]:
denominators_df.loc[denominators_df['county'].eq('ONEIDA')]

      state  county  cofips   race     sex       renters      variance
5859     ID  ONEIDA   16071  asian  female      0.000000    258.751083
5860     ID  ONEIDA   16071  asian    male      0.000000     55.012729
5861     ID  ONEIDA   16071  black  female      0.000000     59.058908
5862     ID  ONEIDA   16071  black    male      0.000000     33.508883
5863     ID  ONEIDA   16071   hisp  female     21.836040    118.468829
5864     ID  ONEIDA   16071   hisp    male     28.066512    195.601423
5865     ID  ONEIDA   16071  other  female     10.785908     86.133927
5866     ID  ONEIDA   16071  other    male      7.276423     39.233039
5867     ID  ONEIDA   16071  white  female    251.375024   1826.800145
5868     ID  ONEIDA   16071  white    male    248.772324   1789.240817
18592    NY  ONEIDA   36065  asian  female   1476.733645  14775.344190
18593    NY  ONEIDA   36065  asian    male   1112.912550   7175.304706
18594    NY  ONEIDA   36065  black  female   2895.110092   3397.506013
18595    NY  ONEIDA   36065  black    male   2486.844037   3990.281044
18596    NY  ONEIDA   36065   hisp  female   2066.420661   2754.207323
18597    NY  ONEIDA   36065   hisp    male   1795.814914   3449.089619
18598    NY  ONEIDA   36065  other  female    732.415343   2192.459246
18599    NY  ONEIDA   36065  other    male    579.087868   1258.830601
18600    NY  ONEIDA   36065  white  female  18327.960007  31594.259385
18601    NY  ONEIDA   36065  white    male  16123.349553  26213.937256
18602    NY  ONEIDA   36065    NaN     NaN      0.000000      0.000000
30893    WI  ONEIDA   55085  asian  female      0.096154      1.898048
30894    WI  ONEIDA   55085  asian    male      2.653846   1444.499475
30895    WI  ONEIDA   55085  black  female      1.142857    130.441720
30896    WI  ONEIDA   55085  black    male      2.523810    635.984628
30897    WI  ONEIDA   55085   hisp  female      8.783784    133.849098
30898    WI  ONEIDA   55085   hisp    male     27.567568   1310.439186
30899    WI  ONEIDA   55085  other  female     72.207972   1339.803525
30900    WI  ONEIDA   55085  other    male     98.273830   2477.749726
30901    WI  ONEIDA   55085  white  female   1766.465398   9176.652610
30902    WI  ONEIDA   55085  white    male   1688.405553   8401.517943

based on the dataframe above the row is not neccesary - removing

In [33]:
denominators_df_cleaned = denominators_df
denominators_df_cleaned = denominators_df_cleaned.drop(18602)

In [34]:
rows_with_missing_values = denominators_df_cleaned[denominators_df_cleaned.isnull().any(axis=1)]
rows_with_missing_values

Empty DataFrame
Columns: [state, county, cofips, race, sex, renters, variance]
Index: []

In [35]:
denominators_df_cleaned.loc[denominators_df_cleaned['county'].eq('ONEIDA')]

      state  county  cofips   race     sex       renters      variance
5859     ID  ONEIDA   16071  asian  female      0.000000    258.751083
5860     ID  ONEIDA   16071  asian    male      0.000000     55.012729
5861     ID  ONEIDA   16071  black  female      0.000000     59.058908
5862     ID  ONEIDA   16071  black    male      0.000000     33.508883
5863     ID  ONEIDA   16071   hisp  female     21.836040    118.468829
5864     ID  ONEIDA   16071   hisp    male     28.066512    195.601423
5865     ID  ONEIDA   16071  other  female     10.785908     86.133927
5866     ID  ONEIDA   16071  other    male      7.276423     39.233039
5867     ID  ONEIDA   16071  white  female    251.375024   1826.800145
5868     ID  ONEIDA   16071  white    male    248.772324   1789.240817
18592    NY  ONEIDA   36065  asian  female   1476.733645  14775.344190
18593    NY  ONEIDA   36065  asian    male   1112.912550   7175.304706
18594    NY  ONEIDA   36065  black  female   2895.110092   3397.506013
18595    NY  ONEIDA   36065  black    male   2486.844037   3990.281044
18596    NY  ONEIDA   36065   hisp  female   2066.420661   2754.207323
18597    NY  ONEIDA   36065   hisp    male   1795.814914   3449.089619
18598    NY  ONEIDA   36065  other  female    732.415343   2192.459246
18599    NY  ONEIDA   36065  other    male    579.087868   1258.830601
18600    NY  ONEIDA   36065  white  female  18327.960007  31594.259385
18601    NY  ONEIDA   36065  white    male  16123.349553  26213.937256
30893    WI  ONEIDA   55085  asian  female      0.096154      1.898048
30894    WI  ONEIDA   55085  asian    male      2.653846   1444.499475
30895    WI  ONEIDA   55085  black  female      1.142857    130.441720
30896    WI  ONEIDA   55085  black    male      2.523810    635.984628
30897    WI  ONEIDA   55085   hisp  female      8.783784    133.849098
30898    WI  ONEIDA   55085   hisp    male     27.567568   1310.439186
30899    WI  ONEIDA   55085  other  female     72.207972   1339.803525
30900    WI  ONEIDA   55085  other    male     98.273830   2477.749726
30901    WI  ONEIDA   55085  white  female   1766.465398   9176.652610
30902    WI  ONEIDA   55085  white    male   1688.405553   8401.517943

In [36]:
duplicates = denominators_df_cleaned.duplicated().sum()
duplicates

np.int64(0)

In [37]:
data_types = denominators_df_cleaned.dtypes
data_types

state        object
county       object
cofips        int64
race         object
sex          object
renters     float64
variance    float64
dtype: object

In [38]:
denominators_df_cleaned.to_csv('denominators_df_cleaned.csv')